<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="vocabelappprojekt.android.mi.ur.de.vocabelheftapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity

            android:name=".EditVocableActivity"
            android:label="@string/add_vocabels">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocableList.MyVocableListActivity"/>

        </activity>

        <activity android:name=".VocableList.MyVocableListActivity"
                  android:label="Meine Vokabelliste">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>
        <activity


            android:name=".VocableList.DetailVocableListActivity"
            android:label="Vokabeln ändern">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocableList.MyVocableListActivity"/>
        </activity>


        <activity android:name=".Category.MyCategoriesActivity"
                  android:label="Meine Sammlungen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity


            android:name=".Category.DetailCategoriesActivity"
            android:label="Sammlung">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Category.MyCategoriesActivity"/>
        </activity>

        <activity

            android:name=".Testen.TestActivity"
            android:label="Vokabeln abfragen">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>




    </application>

</manifest>
