<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vocabelappprojekt.android.mi.ur.de.vocabelheftapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity

            android:name=".EditVocableActivity"
            android:label="@string/add_vocabels">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocableList.MyVocableListActivity"/>

        </activity>

        <activity android:name=".VocableList.MyVocableListActivity"
            android:label="Meine Vokabelliste">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

            <!--setting search start-->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
            <!--end-->

        </activity>

        <activity
            android:name=".ModifyVocableActivity"
            android:label="Vokabeln ändern">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".VocableList.MyVocableListActivity"/>
        </activity>


        <activity android:name=".Category.MyCategoriesActivity"
            android:label="Meine Sammlungen"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>
        </activity>

        <activity

            android:name=".Category.DetailCategoriesActivity"
            android:label="Sammlung"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Category.MyCategoriesActivity"/>
        </activity>

        <activity
            android:name=".Testen.TestSetupActivity"
            android:label="@string/testsetupactivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

        </activity>

        <activity

            android:name=".Testen.TestActivity"
            android:label="Vokabeln abfragen"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Testen.TestSetupActivity"/>
        </activity>

    </application>

</manifest>
