<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vocabbook.android.mi.ur.de.vocabbook" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="vocabbook.android.mi.ur.de.vocabbook.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="vocabbook.android.mi.ur.de.vocabbook.CreateVocabActivity"
            android:label="@string/create_new_vocab_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vocabbook.android.mi.ur.de.vocabbook.MyVocabList.MyVocabListActivity"/>
        </activity>

        <activity
            android:name="vocabbook.android.mi.ur.de.vocabbook.MyVocabList.MyVocabListActivity"
            android:label="@string/my_vocab_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vocabbook.android.mi.ur.de.vocabbook.MainActivity"/>

            <intent-filter>
                <action
                    android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>

        <activity
            android:name="vocabbook.android.mi.ur.de.vocabbook.EditVocabAcitivty"
            android:label="@string/edit_vocab_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vocabbook.android.mi.ur.de.vocabbook.MyVocabList.MyVocabListActivity"/>
        </activity>


        <activity android:name="vocabbook.android.mi.ur.de.vocabbook.MyCategories.MyCategoriesListActivity"
            android:label="@string/my_categories_activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vocabbook.android.mi.ur.de.vocabbook.MainActivity"/>
        </activity>

        <activity
            android:name="vocabbook.android.mi.ur.de.vocabbook.MyCategories.CategoryContentsActivity"
            android:label="@string/category_contents_activity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vocabbook.android.mi.ur.de.vocabbook.MyCategories.MyCategoriesListActivity"/>
        </activity>

        <activity
            android:name="vocabbook.android.mi.ur.de.vocabbook.MyVocabTest.VocabTestSetupActivity"
            android:label="@string/vocab_test_setup_activity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vocabbook.android.mi.ur.de.vocabbook.MainActivity"/>
        </activity>

        <activity
            android:name="vocabbook.android.mi.ur.de.vocabbook.MyVocabTest.VocabTestActivity"
            android:label="@string/vocab_test_activity"
            android:screenOrientation="portrait">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="vocabbook.android.mi.ur.de.vocabbook.MyVocabTest.VocabTestSetupActivity"/>
        </activity>

    </application>

</manifest>
